body,html{
    height: 100%;
    margin: 0;
    line-height: 180%;
    color: #666;
}
.parallax1{
    background: url(image/dark.jpg);
    min-height: 60%;
}
.parallax2{
    background: url(image/processor-media-tek.jpg);
    min-height: 40%;
}
.parallax1, .parallax2, .parallax3, .parallax4{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.heading{
    
    line-height: 450%;
}
.heading .hash-tag{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    color: #fff;
    font-size: 450%;
    top: 33%;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
}
.heading-sm{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 1000;
    line-height: 10px;
    letter-spacing: 5px;
    text-shadow: 0 0 1px #000;
    text-align: center;
}
.heading-sm h1{
    margin: 10px;
    font-size: 3em;
}
.two-col{
    float: left;
    width: 42%;
    padding: 0 4%;
    text-align: left;
}
section{
    overflow: auto;
    padding: 50px 80px;
}
.dark1{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background-color: black;
    color: #f2f2f2;
    height: 200px;
    text-align: center;
}
.dark2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    height: 250vh;
    background-color: black;
    color: #f2f2f2;
}
.dark2 .five5g, .dark2 .earth5g{
    box-shadow: 0 0 10px white;
    height: 50%;
    width: 80%;
    margin: 2rem;
    border-radius: 35px;
}
.dark2 .image-5g{
    background-image: url(image/5g.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dark2 .earth-5g{
    background-position: center;
    background-image: url(image/earth-5g.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* ---------feature grid---------  */
.feature-section{
    display: flex;
    align-items: center;
}
.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows:minmax(380px, auto);
    background: black;
    grid-gap: 1rem;
    margin: 10px;
}
.card1{
    grid-column: 1/4;
    border-radius: 30px;
}
.card2{
    grid-column: 1/3;
    border-radius: 30px;
}
.card3{
    grid-column: 3/4;
    border-radius: 30px;
}
.card4{
    border-radius: 30px;
    grid-column: 1/4;
}
.card1, .card2, .card3, .card4{
    box-shadow: 0 0 8px white;
}
.image1{
    background-image: url(image/processor.png);
    background-size: cover;
    width: 100%;
}
.image2{
    background-image: url(image/coool-design.png);
    background-size: cover;
}
.image3{
    background-image: url(image/camera.png);
    background-size: cover;
}
.image4{
    background-image: url(image/infinite.png);
    background-size: cover;
}
.text {
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    top: 9%;
    left: 30px;
    width: 85%;
    height: 50%;
    line-height: 50px;
    text-align: left;
}
.dark2 .earth5g .text5g{
    position: relative;
    font-size: 4rem;
    font-weight: 800;
    color: white;
    top: 19%;
    left: 30px;
    width: 85%;
    height: 50%;
    line-height: 4rem;
    text-align: left;
}
.dark2 .earth5g .text5g p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin-top: 10px;
}
.text p {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.6em;
}
/* -----------------Media Queries------------- */
@media (max-width: 768px)
{
    .parallax1{
        background: url(image/portrait-dark-crop.jpg);
        min-height: 60%;
        background-size: cover;
    }
    .parallax2{
        background: url(image/processor-media-tek.jpg);
        min-height: 40%;
    }
    .parallax1{
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .parallax2{
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 56%;
    }
    .heading{
        line-height: 250%;
    }
    .heading .hash-tag{
        font-size: 250%;
    }
    .heading-sm1{
        font-size: 180%;
    }
    .heading-sm{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        top: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        font-weight: 800;
        line-height: 2em;
        letter-spacing: 5px;
        text-shadow: 0 0 1px #000;
    }
    .heading-sm h1{
        margin: 10px;
        font-size: 1.5em;
    }
    .two-col{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .feature-section{
        height: 220vh;
    }
    .grid-container{
        width: 95%;
        grid-row-gap: 2rem;
        background-color: #000;
        grid-auto-rows:minmax(280px, auto);
    }
    .card1{
        grid-column: 1/4;
        border-radius: 30px;
    }
    .card2{
        grid-column: 1/4;
        border-radius: 30px;
    }
    .card3{
        grid-column: 1/4;
        border-radius: 30px;
    }
    .card4{
        grid-column: 1/4;
        border-radius: 30px;
    }
    .card1, .card2, .card3, .card4{
        box-shadow: 0 0 8px white;
    }
    .image1{
        background-image: url(image/processor-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        padding-top: 30%;
    }
    .image2{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background: url(image/coool-design-mobile.jpg);
        padding-top: 33%;
    }
    .image3{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background: url(image/camera-mobile.jpg);
        padding-top: 33%;
    }
    .image4{
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background: url(image/infinite-mobile.jpg);
        padding-top: 33%;
    }
    section{
        padding: 0 0;
    } 
    .card1{
        position: relative;
    }
    .text {
        position: relative;
        font-size: 1.1rem;
        font-weight: 800;
        top: -36%;
        width: 80%;
        line-height: 1.6;
        text-align: left;
    }
    .text p{
        font-size: 0.85em;
    }
    .dark2{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        height: 100vh;
        background-color: black;
        color: #f2f2f2;
    }
    .dark2 .five5g, .dark2 .earth5g{
        height: 50%;
        width: 90%;
        margin: 1rem;
        box-shadow: 0 0 8px white;
        border-radius: 35px;
    }
    .dark2 .earth5g .text5g{
        position: relative;
        font-size: 2rem;
        font-weight: 800;
        color: white;
        top: 19%;
        left: 30px;
        width: 85%;
        height: 50%;
        line-height: 50px;
        text-align: left;
    }
    .dark2 .earth5g .text5g p{
        font-size: 0.8rem;
        line-height: 0.8rem;
    }
    .dark2 .image-5g{
        background-image: url(image/5g-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .dark2 .earth-5g{
        background-position: center;
        background-image: url(image/earth-5g.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}